.leftMenu {
    width: 20%;
    background: bisque;
    padding: 20px;
}

ul {
    list-style: none;
}

ul li a {
    color: #000;
    text-decoration: none;
}
ul li .active {
    color: #b91e99;
}

ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.item {
    color: darkorange;
}