header {
    width: 100%;
    height: 100px;
    background: beige;
}

.logo {
    max-width: 100px;
    padding-left: 20px;
}

.loginBlock {
    float: right;
    padding-right: 20px;
    padding-top: 35px;
}